<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
  <title>View All Attendees</title>
</head>
<body class="container">
  <div class="well well-sm" style="text-align:center">
    <h1>{{ user.getUsername }}</h1>
    {% if is_admin == 1 %}
    <a class="btn-group" href="/add_person" method="get">
      <button class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Add Attendee
      </button>
    </a>
    <a class="btn-group" href="/attendees" method="get">
      <button class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> View All
      </button>
    </a>
    {% endif %}
  </div>
<div class="col-md-2">
  <div class="panel panel-info" >
    <div class="panel-heading">Total Money:</div>
      <div class="panel-body">
        <p> ${{total.total}} </p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-info" >
      <div class="panel-heading">Total Attendees</div>
        <div class="panel-body">
          <p> {{total.attendees}}</p>
        </div>
      </div>
    </div>
  <table id="table" class="display" width="100%">
    <thead>
      <tr>
        <th>Edit/Delete</th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Type</th>
        <th>Amount Paid</th>
        <th>Present</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th>Edit/Delete</th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Type</th>
        <th>Amount Paid</th>
        <th>Present</th>
      </tr>
    </tfoot>
    <tbody>
      {% for attendee in all_attendees %}
      <tr >
          <td>
          <form id="deletePerson" action="\deletePerson" method="post">
             <input name="id" type="hidden" value="{{ attendee.id }}">
            <button type="submit" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </form>
          <form id="editPerson" action="\editPerson\{{ attendee.id }}" method="get">
           <button type="submit" class="btn btn-default btn-sm">
             <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
           </button>
         </form>
          </td>
           <td>{{ attendee.id }}</td>
           <td>{{ attendee.FirstName }}  {{ attendee.LastName }}</td>
           <td>{{ attendee.email }}</td>
           {% if attendee.Type == 0 %}
           <td>Cash</td>
           {% else %}
           <td>Online</td>
           {% endif %}
           <td>${{ attendee.amount }}</td>
          <form id="here" action="\here" method="post">
            <input name="id" type="hidden" value="{{ attendee.id }}">
           {% if attendee.here == 0 %}
           <input value="1"  name="here" id="{{ attendee.id }}" type="hidden">
           <td><button type="submit"  class="btn btn-info {{ attendee.id }}">Here</button></td>
           {% else %}
           <input value="0"  name="here" id="{{ attendee.id }}" type="hidden">
           <td><button type="submit"   class="btn btn-success {{ attendee.id }}">Not Here</button></td>
           {% endif %}
         </form>
         </tr>
     {% endfor %}
    <tbody>
</table>
</body>
</html>
<script>



$(document).ready(function () {

  $('#table').DataTable({
    "bPaginate": false
  });

$('#here').submit(function(event) {
    event.preventDefault();
    var formData = $( this ).serialize()
    console.log(formData);
    $.ajax({
        type: 'POST',
        url: $( this ).attr('action'),
        data: formData
  })
     getStatus();

  });

  // $('#deletePerson').submit(function(event) {
  //     event.preventDefault();
  //     var formData = $( this ).serialize()
  //     console.log(formData);
  //     $.ajax({
  //         type: 'POST',
  //         url: $( this ).attr('action'),
  //         data: formData
  //   })
  //
  // });
  getStatus();
  function getStatus() {
       $.getJSON('/here', function(data) {
         $.each(data,function(index, value){
           var id = value['id'];
           var hidden = $('#'+id).val();
          //  console.log(hidden +"   "+value['here']+ " "+value['FirstName'] ) ;
           if(hidden == value['here']){
             if(hidden == 1){
               $('#'+id).val("0");
                $(':button.'+ value['id']).removeClass( "btn-info" ).addClass( "btn-success" );
                var text =$(':button.'+ value['id']).html("");
                 $(':button.'+ value['id']).html("Not Here");

             }
             else if(hidden == 0){
               $('#'+id).val("1");
               $(':button.'+ value['id']).removeClass( "btn-success" ).addClass( "btn-info" );
               var text =$(':button.'+ value['id']).html("");
               $(':button.'+ value['id']).html("Here");
             }
           }

         });
       });
       console.log('test called');
       setTimeout(getStatus, 500);
   }


});
</script>
