<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Welcome To Your Page</title>
    </head>
    <body class="container">
  <div class="well well-sm" style="text-align:center">

      <h1>{{ user.getUsername }}</h1>
      {% if is_admin == 1 %}
      <form class="btn-group" action="/add_person" method="get">
        <button class="btn btn-default btn-md">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Edit Attendee
        </button>
      </form>
      <form class="btn-group" action="/attendees" method="get">
        <button class="btn btn-default btn-md">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> View All
        </button>
      </form>
      <form class="btn-group" action="/raffle" method="get">
        <button class="btn btn-default btn-md">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Raffle
        </button>
      </form>
      {% endif %}
  </div>
        <h1>Add an Attendee</h1>
        {% if is_admin == 1 %}
        <form class="form-horizontal" action="\editPerson" method="post">
          <input name="id" type="hidden" value="{{ person.id }}">
          <div class="form-group" >
             <input  type="email" class="form-control" name="email" value="{{person.email}}" placeholder="Email" >
         </div><br/>
         <div class="form-group">
             <input type="text" class="form-control" name="fname" value="{{person.FirstName}}" placeholder="First Name" required>
         </div><br/>
         <div class="form-group">
             <input type="text" class="form-control" name="lname" value="{{person.LastName}}" placeholder="Last Name" required>
         </div><br/>
         <div class="form-group">
         <select name="type" class="form-control" >
          {% if person.type == 0 %}
           <option selected="selected" value="0">Cash</option>
           <option value="1">Online</option>
          {% else %}
          <option value="0">Cash</option>
          <option selected="selected"  value="1">Online</option>
          {% endif %}
        </select></div><br/>
        <div class="form-group">
             <div class="input-group">
               <div class="input-group-addon">$</div>
               <input type="text" name="amount" value="{{person.amount}}" class="form-control" id="exampleInputAmount" placeholder="Amount Paid(in dollars)" required>
               <div class="input-group-addon">.00</div>
             </div>
        </div>
           <button type="submit" class="btn btn-primary col-md-lg">Submit</button>
        </form>
        {% endif %}
        <footer id="footer" class="navbar ">
            <div class="well well-sm" style="text-align:center">
                    <p>You are logged in as {{ user.getUsername }}</p>
                 <!-- home -->
                 <form class="btn-group inline" action="/" method="get">
                     <button class="btn btn-default btn-md">
                         <span class="glyphicon glyphicon-home"></span> Home
                     </button>
                 </form>
                 <!-- Sign out -->
                 <form class="btn-group" action="/logout" method="post">
                     <button class="btn btn-default btn-md">
                         <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Sign Out
                     </button>
                 </form>
             </div>
         </footer>
    </body>
</html>
